/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

/* thanks to markhorn-dev for this animation */
.animate {
	@apply opacity-0 translate-y-3;
	@apply transition-all duration-700 ease-out;
}

.animate.show {
	@apply opacity-100 translate-y-0;
}

:root {
	--rp-base: #faf4ed;
	--rp-surface: #fffaf3;
	--rp-overlay: #f2e9e1;
	--rp-muted: #9893a5;
	--rp-subtle: #797593;
	--rp-text: #575279;
	--rp-love: #b4637a;
	--rp-gold: #ea9d34;
	--rp-rose: #d7827e;
	--rp-pine: #286983;
	--rp-foam: #56949f;
	--rp-iris: #907aa9;
	--rp-highlight-low: #f4ede8;
	--rp-highlight-med: #dfdad9;
	--rp-highlight-high: #cecacd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--rp-base: #191724;
		--rp-surface: #1f1d2e;
		--rp-overlay: #26233a;
		--rp-muted: #6e6a86;
		--rp-subtle: #908caa;
		--rp-text: #e0def4;
		--rp-love: #eb6f92;
		--rp-gold: #f6c177;
		--rp-rose: #ebbcba;
		--rp-pine: #31748f;
		--rp-foam: #9ccfd8;
		--rp-iris: #c4a7e7;
		--rp-highlight-low: #21202e;
		--rp-highlight-med: #403d52;
		--rp-highlight-high: #524f67;
	}
}

@font-face {
	/* font-family: "Montserrat", sans-serif; */
	font-family: "Dosis", sans-serif;
	/* font-family: "Atkinson"; */
	/* src: url("/fonts/atkinson-regular.woff") format("woff"); */
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	/* font-family: "Montserrat", sans-serif; */
	font-family: "Dosis", sans-serif;
	/* font-family: "Atkinson"; */
	/* src: url("/fonts/atkinson-bold.woff") format("woff"); */
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Dosis", sans-serif;
	/* font-family: "Atkinson", sans-serif; */
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--rp-base);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--rp-subtle);
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--rp-text);
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--rp-foam);
}
a:hover {
	color: var(--rp-iris);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
