---
import AboutHeroImage from '../../public/assets/blog-placeholder-1.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About me!"
	pubDate={new Date('February 27 2026')}
	heroImage={AboutHeroImage}
>
	<p>
Hello!!<br>
I'm <big>Zynith</big>. I'm an open source developer, and I'm trying to learn engineering.<br>
Really the only kinda "engineering" project I've done is building the <a href="https://github.com/GEIGEIGEIST/TOTEM">TOTEM</a> by GEIGEIGEIST<br>
It's a small ergonomic keyboard that I'm actually using to type this right now!
	</p>
</Layout>
