---
import '../styles/global.css';
---

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />

<header>
	<nav class="navbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="/zynith/" class="nav-link">
					<span class="material-symbols-outlined">home</span>
					<span class="link-text">
						Home
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/zynith/about" class="nav-link">
					<span class="material-symbols-outlined">info</span>
					<span class="link-text">
						About
					</span>
				</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	.navbar {
		width: 50px;
		height: 100vh;
		position: fixed;
		background-color: var(--rp-overlay);
		transition: width 200ms ease;
	}

	.navbar-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav-item {
		width: 100%;
	}

	.nav-link {
		display: flex;
		align-items: center;
		height: 50px;
		transition: 200ms;
	}

	.link-text {
		color: var(--rp-subtle);
		display: none;
		margin-left: 10px;
	}

	.material-symbols-outlined {
		text-align: center;
		font-weight: 700;
		color: var(--rp-subtle);
		min-width: 30px;
		max-width: 30px;
		margin: 0 10px;
	}

	.navbar:hover {
		width: 180px;
	}

	.navbar:hover .link-text {
		display: block;
	}

	.nav-link:hover {
	}
</style>

<script>
	const animateElements = document.querySelectorAll(".animate");

	animateElements.forEach((element, index) => {
		setTimeout(() => {
			element.classList.add("show");
		}, index * 150);
	});
</script>
